<?xml version="1.0"?>
<model>
  <name>x500_dx</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Emiliano Mendez</name>
    <email>emeji2005@gmail.com</email>
  </author>
  <description>Modified x500 with Unitree L2 Lidar and Gimbal for AirDX</description>
</model>

